<div class="container-fluid" style="margin-top: 100px;">
  <h1>Edit Sub-Categories</h1>
  <form #userForm="ngForm" (ngSubmit)="addCategories()"  >

<hr />

 <div class="form-group" style="width: 300px;">
  <label>Title</label>
  <input type="text" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched" value="Sweaters" class="form-control" name="name" [(ngModel)]="title"  >
<small [class.d-none]="name.valid || name.untouched">Title Required</small>
</div>

<div class="form-group" style="width: 300px;">
  <label>Category</label>
  <input type="text" required #types="ngModel" [class.is-invalid]="types.invalid && types.touched" value="Women" class="form-control" name="types" [(ngModel)]="type"  >
<small [class.d-none]="name.valid || name.untouched">Category Required</small>
</div>

<button class="btn btn-primary"   [disabled]='!userForm.valid' type="submit" style="background-color: rgba(22, 50, 82, 0.986);color: white;"><a href="/All/Category">Submit</a></button>

<br><br>
<a href="/All/Category">View Sub-Categories</a>

</form>
</div>
<div>