
  <div class="container" style="margin-top: 100px;padding-bottom: 200px;">
  <table class="table">
    <thead class="thead-dark" style="height: 200px;">
      <tr style="height: 50px;">
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"><button class="btn btn" style="background-color: rgb(233, 229, 229);color: black;">EDIT</button></th> 
      </tr>
    </thead>
    <tbody>
      <tr>
        
        <td><strong>FIRST NAME:</strong></td>
        <td>Sherry</td>
        
      </tr>
      <tr>
        
        <td><strong>LAST NAME:</strong></td>
        <td>John</td>
        
      </tr>
      <tr>
        
        <td><strong>EMAIL-ADDRESS:</strong></td>
        <td>sruthipandiath@gmail.com</td>
        
      </tr>
      <tr>
        
        <td><strong>CONTACT NO:</strong></td>
        <td>9978567787</td>
        
      </tr>
    </tbody>
  </table>
  </div>